.avatar {
    height: 90px;
    width: 90px;
  }

  .text{
    color: #363636;
  }

.center {
    text-align: center;
    color: #363636;
}

.myButton{
    border-radius: 10px;
    border : 2px solid #363636;
    width: max-content;
    height: max-content;
}