.board{
    display: flex;
    flex-direction: column;
}

.card {
  width: 97%;
  height: 97%;
}

mat-grid-tile{
    height: fit-content;
    width: fit-content;
}
.mat-grid-tile-content{
    height:max-content;
    width: max-content;
}

/*
mat-grid-tile{
  border: 2px solid black;
}
*/
