
  <mat-card  class="card" [ngStyle]="{background: getColor()}">

    <mat-card-header *ngIf="notEmptyCard" class="header">

      <img mat-card-avatar class="avatar" *ngIf="mode == 'tv' && this.task.chef.genre=='homme'" src="../../assets/chef.jpg" alt="homme">
      <img mat-card-avatar class="avatar" *ngIf="mode == 'tv' && this.task.chef.genre=='femme'" src="../../assets/cheffe.jpg" alt="femme">
      
      <mat-card-title>COMMANDE n°{{task.id}} </mat-card-title>
      
      <mat-card-subtitle class="text"><b>{{task.recipe.name}} {{type}} </b></mat-card-subtitle>
      <mat-card-subtitle class="text"><b>Fin prévue : </b> {{task.endTime | date:'hh:mm:ss'}}</mat-card-subtitle>
      <mat-card-subtitle class="text" *ngIf="mode == 'tv'"><b> Cuisinier : </b> {{task.chef.name}} </mat-card-subtitle>
      <mat-card-subtitle class="text" *ngIf="mode == 'tv'"><b> Niveau : </b> {{task.chef.level}} </mat-card-subtitle>

    </mat-card-header>

      <mat-card-content [ngClass]="{'content' : (mode=='tablet')}" *ngIf="(mode == 'tablet' && novice()) || (mode == 'tv' && task.chef.level == 'novice')"  [ngStyle]="{background: (mode=='tablet')  ? '#f1f3f4' : ''}">
        <div class="liste">
          <liste (checkerEvent)=receiveCheckValue($event) [task]=task [mode]=mode> </liste></div>
      </mat-card-content>

  </mat-card>
