
  <mat-card class="card" [ngStyle]="{background: getColor()}">
    <mat-card-header>
      <mat-card-title>COMMANDE n°{{task.id}} </mat-card-title>
      <mat-card-subtitle>Recette de {{task.name}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="mode == 'tv'">Cuisinier : {{task.chef.name}} </mat-card-subtitle>
    </mat-card-header>
      <mat-card-content *ngIf="mode == 'tv' && task.chef.level == 'novice' ">
      <liste [task]=task></liste>
      </mat-card-content>
    <mat-card-actions align="end" *ngIf="mode == 'tablet'">
      <button mat-button *ngIf="true">VALIDER</button>
    </mat-card-actions>
  </mat-card>
