<mat-toolbar color="primary">
    <mat-toolbar-row>
        <mat-button-toggle-group>
            <mat-button-toggle value="novice" (click)="this.changeModeUser('novice');" > Novice</mat-button-toggle>
            <mat-button-toggle value="expert" (click)="this.changeModeUser('expert');" > Expert</mat-button-toggle>
        </mat-button-toggle-group>
        <span class="example-spacer"></span>
        <span> e-cuisine </span>
        <span class="example-spacer"></span>
        <p>{{ dateTime | date:'hh:mm:ss'}}</p>
    </mat-toolbar-row>
</mat-toolbar>
