<div class="board">
    <mat-grid-list class="grid" [cols]="breakpoint" (window:resize)="onResize($event)">
      <div *ngFor="let task of tasks">
        <mat-grid-tile *ngIf="notClusterize(task)"
            [colspan]="1"
            [rowspan]="1">
          <app-card class="card" [task]=task [mode]=mode></app-card>
        </mat-grid-tile>
      </div>

      <mat-grid-tile *ngIf="doCluster('Green')" [colspan]="1"
        [rowspan]="1">
        <app-card-cluster class="card" (click)="clickCluster('Green')" [numberOfCommand]="numberOfType('Green')" [typeCluster]="'Green'"></app-card-cluster>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="doCluster('Red')"  [colspan]="1"
                     [rowspan]="1">
        <app-card-cluster class="card" (click)="clickCluster('Red')" [numberOfCommand]="numberOfType('Red')" [typeCluster]="'Red'"></app-card-cluster>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="doCluster('Yellow')" [colspan]="1"
                     [rowspan]="1">
        <app-card-cluster class="card" (click)="clickCluster('Yellow')" [numberOfCommand]="numberOfType('Yellow')" [typeCluster]="'Yellow'"></app-card-cluster>
      </mat-grid-tile>

      </mat-grid-list>
</div>
<!-- <div> -->
    <!-- <div *ngFor="let task of tasks"> -->
        <!-- <app-card [task]=task ></app-card> -->
        <!-- </div> -->
<!-- </div> -->
