<div class="board">
    <mat-grid-list cols="4">
      <div *ngFor="let task of tasks">
        <mat-grid-tile *ngIf="notClusterize(task)"
            [colspan]="1"
            [rowspan]="1">
          <app-card *ngIf="notClusterize(task)" [task]=task></app-card>
        </mat-grid-tile>
      </div>

      <mat-grid-tile [colspan]="1"
        [rowspan]="1">
        <app-card-cluster *ngIf="clusterize" [numberOfCommand]="numberOfGreen()" [typeCluster]="'Green'"></app-card-cluster>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1"
                     [rowspan]="1">
        <app-card-cluster *ngIf="clusterize" [numberOfCommand]="numberOfYellow()" [typeCluster]="'Yellow'"></app-card-cluster>
      </mat-grid-tile>

      </mat-grid-list>
</div>
<!-- <div> -->
    <!-- <div *ngFor="let task of tasks"> -->
        <!-- <app-card [task]=task ></app-card> -->
        <!-- </div> -->
<!-- </div> -->
