<section class="example-section">
    <span class="example-list-section">
      <mat-checkbox class="example-margin"
                    [checked]="allComplete"
                    [color]="recipe.color"
                    [indeterminate]="someComplete()"
                    (change)="setAll($event.checked)">
        {{recipe.name}}
      </mat-checkbox>
    </span>
    <span class="example-list-section">
      <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">

      <ul>
        <li *cdkVirtualFor="let subtask of recipe.tasks">
          <mat-checkbox  [(ngModel)]="subtask.completed"
                        [color]="subtask.color"
                        (ngModelChange)="updateAllComplete()">
            {{subtask.content}}
          </mat-checkbox>
        </li>
      </ul>
    </cdk-virtual-scroll-viewport>

    </span>
</section>