
  <mat-card class="card"
  [ngStyle]="{background: (!task.completed) ? getColor() :
     'linear-gradient(-45deg,'+ getColor() + ' 25%, Grey 25%, Grey 50%,' + getColor() + ' 50%,' + getColor() + ' 75%, Grey 75%, Grey)'}">

    <mat-card-header *ngIf="notEmptyCard" class="header">

      <img mat-card-avatar class="avatar" *ngIf="mode == 'tv'" src={{this.task.chef.url}} alt="homme">

      <mat-card-title>COMMANDE n°{{task.id}} </mat-card-title>

      <mat-card-subtitle class="text"><b>{{task.recipe.name}} {{type}} </b></mat-card-subtitle>
      <mat-card-subtitle *ngIf="!task.completed" class="text"><b>Fin prévue : </b> {{task.endTime | date:'hh:mm:ss'}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="task.completed" class="text"><b>Terminée à : </b> {{task.completedTime  | date:'hh:mm:ss'}}</mat-card-subtitle>
      <mat-card-subtitle class="text" *ngIf="mode == 'tv'"><b> Cuisinier : </b> {{task.chef.name | titlecase}} </mat-card-subtitle>
      <mat-card-subtitle class="text" *ngIf="mode == 'tv'"><b> Niveau : </b> {{task.chef.level}} </mat-card-subtitle>

      <mat-checkbox *ngIf="mode == 'tablet' && task.completed == false" class="example-spacer" align="end"  (click)="pinChecked()"></mat-checkbox>
      <mat-checkbox *ngIf="mode == 'tablet' && task.completed == true" class="example-spacer" align="end"  [disabled]="true" (click)="pinChecked()"></mat-checkbox>
    </mat-card-header>

      <mat-card-content [ngClass]="{'content' : (mode=='tablet')}"

      [ngStyle]="{background: (mode=='tablet')  ? getContentColor() : ''}">
        <div class="listeDiv">
          <liste class="liste" [typeAffichage]="(mode == 'tablet' && novice()) || (mode == 'tv' && task.chef.level == 'novice')"   (checkerEvent)=receiveCheckValue($event) [task]=task [mode]=mode> </liste></div>
      </mat-card-content>

  </mat-card>
