.example-spacer{
    flex: 1 1 auto
}
.mat-button-toggle-group {
    margin-left: 12px;
}
// set the color to green on the chosen mode
.mat-button-toggle-checked {
    background-color: green;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  