<mat-toolbar color="primary">
    <mat-toolbar-row>
        <mat-button-toggle-group *ngIf="mode == 'tablet'">
            <mat-button-toggle value="novice" (click)="this.changeModeUser('novice');" > Novice</mat-button-toggle>
            <mat-button-toggle value="expert" (click)="this.changeModeUser('expert');" > Expert</mat-button-toggle>

        </mat-button-toggle-group>
        <span class="example-spacer"></span>
        <!--
            Si on veut afficher le bouton Tablette - Tv 
            <mat-button-toggle-group>
            <mat-button-toggle value="tablet" (click)="modeTablette()"> Mode Tablette </mat-button-toggle>
            <mat-button-toggle value="tv"> Mode Tv </mat-button-toggle>
        </mat-button-toggle-group>
        -->
        <span class="example-spacer"></span>
        <span *ngIf="mode == 'tablet'"> {{this.chef.name | titlecase}} </span>
        <span *ngIf="mode == 'tv'"> e-cuisine </span>
        <span class="example-spacer"></span>

        <!--<div class="example-flex-container">
        <button mat-fab color="accent" aria-label="Example icon button with a plus one icon" (click)="addTask()">
            <mat-icon>plus_one</mat-icon>
          </button>
        </div>-->
        <!-- button (click)="addTask()"> Ajouter une commande</button -->
        <span class="example-spacer"></span>
        <p>{{ dateTime | date:'hh:mm:ss'}}</p>
    </mat-toolbar-row>
</mat-toolbar>
